<h3>Advanced Level</h3>

What means
<b>{{postdata[RandomID].custom_fields.translation}}</b> in Nepali? <a href="{{site}}/advanced"><button> Eng<>Nep
</button></a>
<br />

<br />


Please chose the translation that you think is correct
  <form name="myForm1" ng-submit="checktranslation_eng(translation)">
  	
    
    	<label ng-repeat="choice in choices">
    	<input type="radio" ng-model="$parent.translation" name="translation"  value="{{choice.custom_fields.transliteration}}">{{choice.custom_fields.original}} [{{choice.custom_fields.transliteration}}]<br/>
    	</label> <br/>

		<input type="submit" id="submit" value="Check" />
		{{checktranslation_message}}
		<div ng-if="result"><a href="{{postdata[RandomID].link}}" target="_self"><h2>-->Learn more about {{postdata[RandomID].custom_fields.original}} [{{postdata[RandomID].custom_fields.transliteration}}]</h2></a></div>
</form>
<a href="{{site}}/advanced/eng/id/{{RandomID}}" > <button>New Word</button></a>

<br /><br />
Want to change level of difficulty?
<a href="{{site}}/beginner"><button> Beginner
</button></a>
<a href="{{site}}/intermediate"><button> Intermediate
</button></a>